{{ partial "header.html" . }}
	<main>
		<article>
			<div>
				<p>
					packnback is an ongoing project to build a backup tool from scratch.
					To understand the rationale, see the <a href="/introducing_packnback/"> introductory post</a>.
				</p>

				<p>
					To follow along with design and development follow our <a href=""></a>.
				</p>

				<p>
					To access the source code see it on <a href="https://github.com/packnback">github</a>.
					remember this project is just starting, so there is not much to see yet.
				</p>

				packnback relies on sponsors and donations to survive,
				consider <a href="/donate/">donating</a>.
			</div>
		</article>


	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}