{{ partial "header.html" . }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<time>{{ .Date.Format "January 2, 2006" }}</time>
			<div>
				{{ .Content }}
			</div>
			<hr>
			This project relies on sponsors and donations to survive, consider <a href="/donate/">donating</a>.
			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
		</article>
	</main>
{{ partial "footer.html" . }}